.platformsList {
  background-color: #f5f7f8;
  width: 100%;
  margin-top: -1rem;
}

.platform {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
}

.nameArrow {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid #dadee0;
  margin-left: 1.5rem;
}
