.main {
  margin: 10vh auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 60vh;
  width: 35vw;
}

.links {
  flex: 1;
  width: 80%;
}

.logo {
  margin-bottom: 1rem;
}

.arrow {
  transform: rotate(-90deg);
}

.primaryLink {
  background-color: var(--link);
  color: var(--text);
  border: 1px solid var(--link);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.primaryTitle {
  padding: 1rem 0;
}

.primaryLink:hover {
  background-color: white;
}

.primaryLink:nth-child(odd) {
  margin: 1rem 0;
}
